/.factorypath
/.project
/.classpath
/.settings
/.metadata/
/target/
/RemoteSystemsTempFiles
/src/main/resources/static/version.properties
/src/main/resources/public/version.properties
/.idea
/*.iml
/bin/
/logs
*.csv#
deleteme.cmd
deleteme-PRO.sh
README-ignore.md
runSonar.out
